@model ListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    @Html.ActionLink("Create New " +@Model.CmsType, "Create", new { cmstype = Model.CmsType })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                CmsType
            </th>
            @foreach(var column in Model.Schema.ListViewProperties)
            {
                <th>@column.DisplayName</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.CmsType
            </td>
            @foreach (var column in Model.Schema.ListViewProperties)
            {
                <td>@item.AdditionalProperties[column.Key]</td>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, cmstype = item.CmsType }) |
            </td>
        </tr>
}
    </tbody>
</table>
