@model EditViewModel
@{
    ViewData["Title"] = Model.SchemaLocation.Name;
}

@section ScriptsHead
{
    <script src="~/_content/QMS.Core/jsoneditor.js"></script>
    <script src="~/_content/QMS.Core/editor_fixes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@@latest/dist/purify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@trevoreyre/autocomplete-js@latest/dist/autocomplete.min.js"></script>
}

@section Scripts
{
    <script type="text/javascript">
        var searchApiUrl = '@Url.Action("Search", "Api")';
        var fileUploadUrl = '@Url.Action("Upload", "File", new { cmsType = Model.CmsType, id = Model.Id, lang = Model.Language })';
        var saveUrl = '@Url.Action("Save", "Api", new { cmsType = Model.CmsType, id = Model.Id, lang = Model.Language })';
        var loadUrl = '@Url.Action("Load", "Api", new { cmsType = Model.CmsType, id = Model.Id, lang = Model.Language })';
        var schemaJson = @Html.Raw(Model.SchemaLocation.Schema?.ToString());
        var setData = @((Model.Data != null).ToString().ToLowerInvariant());
        var data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Data));
    </script>
    <script src="~/_content/QMS.Core/editor.js"></script>

    @if (Model.CmsConfiguration.EditScripts?.Any() ?? false)
    {
        @foreach (var scriptUrl in Model.CmsConfiguration.EditScripts!)
        {
            <script src="@scriptUrl"></script>
        }
    }
}
<div>
    <h1 class="display-4">@Model.SchemaLocation.Name</h1>

    @if (Model.CmsConfiguration?.Languages?.Any() ?? false)
    {
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Edit", "Home", new { lang = "" })">Default Language</a>
            </li>
            @foreach (string lang in Model.CmsConfiguration?.Languages ?? Enumerable.Empty<string>())
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Edit", "Home", new { lang = @lang })">@lang</a>
                </li>
            }
        </ul>
    }

    <button onclick="javascript:load()" class="btn btn-warning">Reload data</button>
    <button id="saveButton" onclick="javascript:save()" class="btn btn-primary">Save</button>

    <div id='editor_holder'></div>

</div>
