@inject DynamicDataCms.Storage.Interfaces.IReadCmsItem readCmsItem;
@model ListTreeViewModel

@{
    ViewData["Title"] = Model.MenuCmsItem.Name + " Overview";
}

<script type="text/javascript">
        var createUrl = '@Html.Raw(Url.Action("EditTree", "Home", new { cmsTreeType = Model.CmsType }, this.Context.Request.Scheme))' + '/';
</script>

<h1>@Model.MenuCmsItem.Name Overview</h1>

<div class="form-inline bg-light">
    <div class="form-group mb-2 ml-1">
        <labe for="url">Create new</labe>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" id="url" placeholder="/url-slug" class="form-control-plaintext" />
    </div>
    <button class="btn btn-primary mb-2" onclick="window.location.href = createUrl + document.getElementById('url').value;">Create</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Url
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treeItem in Model.CmsTreeItem.Nodes.OrderBy(x => x.GetSlug(Model.CmsTreeItem.Nodes)))
        {
            <tr>

                <td>
                    @treeItem.GetSlug(Model.CmsTreeItem.Nodes)
                </td>
                <td>
                    @treeItem.CmsItemType
                </td>
                <td>
                    @if (treeItem.CmsItemId.HasValue)
                    {
                        @Html.ActionLink("Edit", "EditTree", "Home", new { cmsTreeType = Model.CmsType, slug = treeItem.GetSlug(Model.CmsTreeItem.Nodes).TrimStart('/'), treeItemSchemaKey = treeItem.CmsItemType }) <text> | </text>
                        @Html.ActionLink("Delete", "Delete", new { id =treeItem.CmsItemId, cmstype = Model.CmsType, treeItemSchemaKey = treeItem.CmsItemType, treeNodeId = treeItem.NodeId })
                    }
                    else
                    {
                        @Html.ActionLink("Create", "EditTree", "Home", new { cmsTreeType = Model.CmsType, slug = treeItem.GetSlug(Model.CmsTreeItem.Nodes).TrimStart('/'), treeItemSchemaKey = treeItem.CmsItemType })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
