@inject QMS.Services.JsonSchemaService JsonSchemaService
@{
    var cmsConfig = JsonSchemaService.GetCmsConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @cmsConfig.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/bootstrap-v4.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@trevoreyre/autocomplete-js@latest/dist/style.css">
    <link rel="stylesheet" href="~/_content/QMS.Core/cms.css" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" asp-area="Cms" asp-controller="Home" asp-action="Index">@cmsConfig.Title</a>
        <ul class="navbar-nav px-3">
            @*<li class="nav-item text-nowrap">
                    <a class="nav-link" href="#">Sign out</a>
                </li>*@
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    @foreach (var entityGroup in cmsConfig.EntityGroups.OrderBy(x => x.Order))
                    {
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>@entityGroup.Name</span>
                        </h6>

                        <ul class="nav flex-column">

                            @foreach (var schema in entityGroup.Entities)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("List", new { cmstype = @schema.Key })">
                                        @schema.Name
                                    </a>
                                </li>
                            }


                        </ul>
                    }

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
            </main>
        </div>
    </div>



    @RenderSection("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js" type="text/javascript"></script>
</body>
</html>
